::selection {
    background-color: #FEC260;
}
.btn-visit {
    background-color: #9eb23b;
}
.btn-visit:hover {
    background-color: #b5c951;
}
body {
    background-color: #F7ECDE;
}
h1 {
    font-family: "Pacifico", cursive;
    font-size: 50px;
    font-weight: 500;
    position: relative;
    width: fit-content;
}
h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;
}
h1:hover::after {
    height: 50%;
}
h3 {
    font-family: "Righteous", sans-serif;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bookmark-body {
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;
}
.bookmark-body input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #d99c39;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fec26055;
}
.modal span.circle {
    width: 20px;
    display: inline-block;
    height: 20px;
}
.modal span.circle:nth-child(1) {
    background-color: #f15f5d;
}
.modal span.circle:nth-child(2) {
    background-color: #febe2e;
}
.modal span.circle:nth-child(3) {
    background-color: #4db748;
}
.modal p {
    font-size: 20px;
    font-weight: bold;
    font-family: "Bree Serif", serif;;
}
.modal li {
    font-size: 18px;
    padding-bottom: 16px ;
    font-family: "PT Sans", sans-serif;
}
.modal li i {
    color: #bb4120;
}